.hurufSerif{
  font-family: Georgia,serif serif;
}

.hurufSansSerif{
  font-family: Helvetica, sans-serif;
}

.postKosong{
  display:none;
}

#alertSuksesPapps{
  display:none;
}




/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    

  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  body > .container {
    padding: 100px 15px 0;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }

 

/* Navbar */
  #myNavbar{
      /* background-color: rgb(109, 18, 79); */
      background-color:  rgb(83, 11, 124);
  }

  #siteTitle{
      color: white;
  }
  .nav-item:hover {
    background-color: #cccccc;
}
  .nav-item-colour{
      color: whitesmoke;
  }

/* Login Modal */
  #usernameModal{
    display: none;
  }
  .modal-header{
    background-color: #8854a5;
  }

  .modal-footer{
    background-color: #dbd0e4;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }

  #myModal{
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  #signUpBtn{
    background-color: rgb(109, 18, 79);
    border-color: rgb(109, 18, 79);
  }

  #signUpBtn:hover{
    background-color: #cccccc;
    border-color:  #8854a5;
  }

  .tulisanPutih{
    color: whitesmoke;
  }

  .tulisanHitam{
    color: black;
  }

  .tulisanUngu{
    color:rgb(109, 18, 79); 
  }

  .tulisanGray{
    color: gray;
  }

  #errorDiv{
    display:none;
  }
 /* ===================== */
 /* inisiasi loginForm pada modal */
 #loginForm{
   display: none;
 }

 /* div status */
 .status{
   border: 1px solid #f5f5f5;
   padding: 10px;
   margin: 10px;
   border-radius: 5px;
   background: #f5f5f5;
 }

 /* mengubah text align copy right pada footer ketika pada smartphone */
 @media screen and (max-width: 48em){
  .footer-container{
      text-align: center !important;
  }
} 

/* end ============= */
  .footer-container{
      text-align: left;
  }

#searchDiv{
  margin-bottom: 20px;
}

#postKosongError{
  margin-bottom: 20px;
}